.movie_info{
    display: flex;
    align-items: start;
    margin: 80px 60px;
    position: relative;
    z-index: 1;
    
}

.movie__info--description{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    line-height: 2.5;
    font-size: 16px;
}

.bold{
    font-size: 20px;
    font-weight: bold;
}

.btn__back{
  padding: 0 20px;
  position: absolute;
  margin-left: 88px;
  top: 64px;
  cursor: pointer;
  
}